altgraph==0.17
asgiref==3.3.0
astroid==2.4.2
auto-py-to-exe==2.8.0
bottle==0.12.19
bottle-websocket==0.2.9
click==7.1.2
dj-database-url==0.5.0
Django==3.1.3
django-crispy-forms==1.10.0
django-heroku==0.3.1
dlib==19.21.1
Eel==0.12.4
face-recognition==1.3.0
face-recognition-models==0.3.0
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
gunicorn==20.0.4
importlib-metadata==3.4.0
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
mysqlclient==2.0.3
numpy==1.19.4
opencv-python==4.4.0.46
Pillow==8.0.1
pkg-resources==0.0.0
protobuf==3.14.0
psycopg2==2.8.6
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pylint==2.6.0
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
whichcraft==0.6.1
whitenoise==5.2.0
wrapt==1.12.1
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
